.playboy-package{
    position: relative;
    color: #fff;
    background-color: #aa0306;
    background-image: linear-gradient(to left, #ac0407, #ee2e31 35%);
    overflow: hidden;
    .container{
        position: relative;
        max-width: 740px;
        @include flex;
        @include align-items(center);
        padding: 40px 0;
        @media screen and (max-width: 1100px){
            @include flex-wrap;
            max-width: 540px;
        }
        @include br1{
            margin-right: 0;
            padding: 40px 2rem 80px;
        }
        @include br2{
            max-width: 400px;
        }
    }
    .cost-wrap{
        top: -62px;
        left: -46px;
        @media screen and (max-width: 1100px){
            top: -20px;
        }
        @include br3{
            left: -59px;
        }
        .cost{
            .num{
                color: #dd2326;
            }
        }
    }
    h2{
        font: 4.8rem/4.6rem $NAB;
        text-transform: uppercase;
        @media screen and (max-width: 1100px){
            padding-bottom: 10px;
        }
        @include br3{
            width: 62%;
            margin: auto 0 auto auto;  
        }
        @media screen and (max-width: 410px){
            font-size: 3.6rem;
            line-height: 4rem;
            padding-bottom: 80px;
        }
    }
    &__hd{
        color: #fcfeff;
        text-transform: uppercase;
        @include flex;
        @include align-items(center);
        padding: 0 45px;
        margin: auto;
        @media screen and (max-width: 1100px){
            width: 50%;
            padding: 0;
        }
        @include br2{
            width: 100%;
            padding-bottom: 10px;
        }
        @include br3{
            justify-content: flex-end;
        }
        @media screen and (max-width: 410px){
            @include justify-content(center);
        }
        .hd-num{
            font-size: 4rem;
            line-height: 4.6rem;
            padding: 0 1.3rem;
            @include br3{
                font-size: 3rem;
            }
        }
        .hd-text{
            font-size: 1.8rem;
            line-height: 1.8rem;
        }
    }
    &__description{
        color: #f3dede;
        font-size: 11px;
        line-height: 18px;
        @media screen and (max-width: 1100px){
            width: 50%;
        }
        @include br2{
            width: 100%;
        }
    }
    .btn-order{
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid #fff;
        &:hover{
            background: transparent;
        }
    }
}